.gallery-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* space between images */
  flex-wrap: nowrap; /* keep in one row */
  overflow-x: auto; /* allow scroll on small screens */
  padding: 10px 0;
}

.gallery-card {
  flex: 2;
  width: 200px;
  height: 210px;
  max-width: 25%; /* since 5 images = ~20% each */
  border-radius: 10px;
  overflow: hidden;
}
.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
