<<<<<<< HEAD
.section.dark-bg {
  background: #111; /* Dark background */
  padding: 60px 20px;
}

.white-text {
  color: #fff;
}

/* Ensure image scales well */
.section img {
  width: 100%;
  height: auto;
  display: block;
}

/* Mobile padding fix */
@media (max-width: 600px) {
  .section.dark-bg {
    padding: 40px 15px;
  }
}
=======
.section {
  padding: 64px 16px;
}

.dark-bg {
  background-color: #fffffff8;
  color: rgb(0, 0, 0);
}

.gold-text {
  color: #000000 !important;
}
>>>>>>> 79ba03530b485e4de951769054c6cd23c386abf5
